//Fonte Family
$fontPrincipal: "Lakki Reddy", serif;
$fontSecundaria: "Libre Caslon Display", serif;

//CORES DO SITE
$bg-mobile: #503C3C;
$bg-desktop-tablet: #E8D7C8;
$bg-claro: #EEEDEB;
$bg-itens-li: #3C3633;
$cor-textos: #EEEDEB;
