@import "./assets/base/base";

.bgGeral {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
    background-color: #503c3c;

    .headeer {
        display: flex;
        justify-content: center;
        align-items: center;

        .titulo {
            font-size: 40px;
            font-family: $fontPrincipal;

            color: #eeedeb;
        }

        button {
            margin-bottom: 24px;
            font-size: 24px;
            color: #eeedeb;
        }
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 32px;

        .lista {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 16px;
        }

        /* Versão mobile */
        @media (max-width: 431px) {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

    }
}